body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    background-color: #fff;
}

header {
    background-color: #fff;
    padding: 20px 10%;
    justify-items: center;
}

.navbar {
    display: table;
    width: 100%;
}

.navbar li {
    margin: 0 15px;
  }

.logo {
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    color: #da1456;
    font-weight: bold;
}

nav {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    

}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #b9b7b7;
    font-weight: bold;
}

.resume-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4afea;
    color: #cd0045;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    height: 3vh;
}

.hero {
    display: table;
    width: 80%;
    margin: 50px auto;
}

.content {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    padding-top: 100px;
}

h1 {
    color: #626262;
    font-size: 36px;
}

p {
    color: #777;
    font-size: 16px;
    line-height: 1.5;
}

.hire-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8b47b3;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
}

.image {
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
    padding-right: 50px;
    
}

.image img {
    width: 40vw;
    height:auto;
    border-radius: 10px;
}

span
{
    color: rgb(172, 12, 156);
}
