body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #fff;
    padding: 20px 15px;
    text-align: center;
}

.navbar {
    display: table;
    width: 100%;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin: 0 15px;
}

.logo {
    font-size: 24px;
    background: linear-gradient(90deg, #cd0045, rgb(226, 105, 5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

nav {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #b9b7b7;
    font-weight: bold;
}

.resume-btn {
    display: inline-block;
    padding: 15px 20px;
    background-color: #f4afea;
    color: #cd0045;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    border: none;
    margin-left: 20px;
    height: auto; 
}

.hero {
    display: table;
    max-width: 1200px; 
    margin: 50px auto;
    padding: 20px;
}

.content {
    float: left;
    width: 45vw;
    padding-top: 100px;
    box-sizing: border-box;
}

h1 {
    color: #626262;
    font-size: 36px;
}

p {
    color: #777;
    font-size: 16px;
    line-height: 1.5;
}

.hire-btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #8b47b3;
    color: #fff;
    border-radius: 7px;
    max-width: 20vw; 
    text-decoration: none;
    margin-top: 20px;
    border: none;
    text-align: center;
    font-weight: bold;
}


.image {
    float: right;
    width: 40%;
    padding-top: 100px;
}

.image img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
}

span {
    color: rgb(172, 12, 156);
}
