body,html{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

nav
{
   justify-content: center;
   align-items: center;
   padding: 20px 50px;

}

nav a{
    color: #a6a3a3;
    margin: 0 15px;
    text-decoration: none;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
    
}

.navbar{
    align-items: center;
    padding-left: 26.5%;
    margin-top: 15px;
}

nav .logo
{
    float: left;
    font-weight:bolder;
    font-size: 1.5rem;
    font-style: italic;
    
    
    
    
}

.text
{
    background: linear-gradient(to right,rgb(230, 55, 243),rgb(233, 106, 33));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}


nav .resume
{
    background-color: rgb(255, 91, 225);
    color: #bb1435;
    padding: 10px 20px;
    border-radius: 10px;
    float: right;
    height: 2.5vh;
    font-size: 1rem;
    padding-top: 1%;
    font-weight: bolder;

    
    
}

.resume{
    margin-top: -20px;
    width: 9vw;
    text-align: center;
}



.hero
{
    width: 90vw;
    margin: 50px auto 0 auto;
    overflow: hidden;
}

.hero .left
{
    display: inline-block;
    width: 45vw;
    vertical-align: top;
    padding: 0 0 0   40px;
    padding-top: 10%;
}

.hero .left h1{
    font-size: 2.5rem;
    color: #333;
   
}

.hero .left p{
    font-size: 1.2rem;
    color: #727171;
    margin: 5px  0 20px;
    
}

.hero .left button
{
    background-color: rgba(131, 12, 206, 0.947);
    color: #fff;
    border: none;
    padding: 10px 90px  ;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    
}

.hero .right img{
    width: 35vw;
    height: auto;
    border-radius: 10px;
    float: right;
   
    
}

.hero .right{
    display: inline-block;
    vertical-align: top;
    width: 40vw;
    padding-top: 11%;
   
    
    
    
}
span{
    color: rgb(164, 8, 216);
    
}

